* {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

:root {
  --background: #eae2b7;
}

#game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 3rem;
}

#starting-player {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#start-question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 1.5rem;
}

#player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}
#player-buttons > button {
  font-size: 1.5rem;
  padding: 10px;
  background-color: #eae2b7;
}

#player-buttons > p {
  font-size: 1.5rem;
}

#reset,
#winnerDeclaration {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

#main-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  padding: 10px;
}

#square-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#square-container > div {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  border: 2px solid black;
}
